<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impressum - Visualization Group</title>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://d3js.org/d3-array.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v4.min.js"></script>

  <style>
    #mapD3 {
      height: 504px;
      width: 896px;
      background: #ffffff00;
    }
  </style>
</head>

<body>
  <h1>Impressum</h1>
  <div id="mapD3"></div>

  <script src="{{ site.baseurl }}/assets/js/dataFetcher.js"></script>
  <script src="{{ site.baseurl }}/assets/js/dataAnalysis.js"></script>
  <script src="{{ site.baseurl }}/assets/js/dataLoaderCSV.js"></script>
  <script src="{{ site.baseurl }}/assets/js/dataLoaderJSON.js"></script>
  <script src="{{ site.baseurl }}/assets/js/drawD3Map.js"></script>
  <script>
    const sheetId = 'yourGoogeSheetID';
    const sheetGid = 'the_ID_ofIndividualSheetsIfNeeded';
    const dataPath = "{{ site.baseurl }}/assets/collaborators.csv";
    const geoJSON_path = "{{ site.baseurl }}/assets/countryContours.geo.json";


    let csvData = dataLoaderCSV(dataPath);
    csvData.then(countryVisData => {
      let countryContoursData = dataLoaderGeoJSON(geoJSON_path);
      drawLayer(countryContoursData, countryVisData, document.querySelector('#mapD3'));
    });




  </script>
  <!--  googlesheet fetch example
    let JSONData = fetchGoogleSheet(sheetId, sheetGid);
    JSONData.then(data => {
      let countryVisData = analyzeData(data);
      let countryContoursData = dataLoaderGeoJSON(geoJSON_path);

      drawLayer(countryContoursData, countryVisData, document.querySelector('#mapD3'));
    });
   -->
</body>

</html>