<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Impressum - Visualization Group</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <style>
    #map {
      height: 432px;
      width: 768px;
    }

    .leaflet-container {
      background: #ff400000;
    }

    /* Leaflet tooltip styling */
    .leaflet-tooltip {
      border: none !important;
      background: transparent !important;
      box-shadow: none !important;
      color: black !important;
    }

    .leaflet-tooltip-top::before {
      border-top-color: black !important;
    }
  </style>
</head>

<body>
  <h1>Impressum</h1>
  <div id="map"></div>
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/dataLoaderCSV.js"></script>
  <script src="{{ site.baseurl }}/assets/js/dataLoaderJSON.js"></script>
  <script src="{{ site.baseurl }}/assets/js/createMap.js"></script>
  <script src="{{ site.baseurl }}/assets/js/drawLayer.js"></script>
  <script>
    const zoomStep = 0.1;
    let mapSettings = {
      coords: [20, 6],
      zoomLevel: 1.85,
      isDraging: false,
      isZooming: false,
      isOpenStreetMap: false
    };
    const mapObj = createMap(mapSettings);

    const dataPath = "{{ site.baseurl }}/assets/data.csv";
    const geoJSON_path = "{{ site.baseurl }}/assets/countryContours.geo.json";

    let countryVisData = dataLoaderCSV(dataPath);
    let countryContoursData = dataLoaderGeoJSON(geoJSON_path);

    mapObj.options.zoomDelta = zoomStep;
    mapObj.options.zoomSnap = zoomStep * 0.01;
    mapObj.options.inertia = true;
    mapObj.options.zoomAnimation = false;

    mapObj.removeControl(mapObj.zoomControl);
    mapObj.dragging.disable();
    mapObj.doubleClickZoom.disable();
    mapObj.scrollWheelZoom.disable();
    mapObj.touchZoom.disable();
    mapObj.boxZoom.disable();

    drawLayer(countryContoursData, countryVisData, mapObj);

  </script>
</body>

</html>